@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-teal: 20 149 171;
  --color-orange: 248 140 67;
  --color-bg: 243 247 251;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
